body {
    background: #000000 !important;
}

/* .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #262738 !important;
    border-color: #262738 !important;
} */
